<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrackGPSLocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11A2F96F1D87EEA500701E5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A2F9861D87EEA600701E5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A2F9911D87EEA600701E5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
